/* Estilos generales para el cuerpo */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

/* Estilo para las secciones principales */
#register-section, #login-section, #budget-app {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para los títulos */
h2, h3 {
    color: #3326f1bd;
    margin-bottom: 20px;
}

/* Estilo para los campos de entrada y selectores */
input[type="text"], input[type="password"], input[type="number"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #0000f5;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para los botones */
button {
    width: 100%;
    background-color: #2600ff;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Estilo del botón en estado hover */
button:hover {
    background-color: #3695bd;
}

/* Estilo para la sección de ingresos/gastos */
#income-expense {
    margin-top: 20px;
}

/* Estilo para el resumen del presupuesto */
#budget-app p {
    font-size: 18px;
    margin: 10px 0;
}

/* Estilo para los valores de ingresos, gastos y balance */
#total-income, #total-expense, #balance {
    font-weight: bold;
    color: #0015ff;
}

/* Estilo específico para el balance */
#balance {
    color: #ff8400;
}

/* Adaptación para dispositivos móviles */
@media (max-width: 600px) {
    input[type="text"], input[type="password"], input[type="number"], select, button {
        font-size: 14px;
    }

    h2, h3 {
        font-size: 20px;
    }
}
